---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import moveTopToFirst from "@/utils/moveTopToFirst";

// i18n
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths(options: GetStaticPathsOptions) {
	const { paginate } = options;
	const posts = (await getCollection("blog")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
	// 置顶文章功能
	moveTopToFirst(posts);
    // 注意：Search JSON 已在主页生成，这里不再重复生成

    // 过滤英文文章
    const enPosts = posts.filter(i => i.id.startsWith('en/') && !i.data.hide);

	return paginate(
		enPosts,
		{ pageSize: 15 }
	);
}

const { page } = Astro.props;
const { data, ...page_data } = page;
// 页面 Info
import SITE_CONFIG from "@/config";
const { Description } = SITE_CONFIG;
// 博客列表组件
import ArticleCard from "@/components/ArticleCard/ArticleCard.astro";
// 公共 Layout
import Layout from "@/layouts/Layout/Layout.astro";
// 分页组件
import Pagination from "@/components/Pagination/Pagination.astro";
const currentPage = page_data.url.current.replace("/en/", "").replace("/", ""); // 简单处理页码
const pageTitle = currentPage ? `Page ${currentPage}` : "";
---

<Layout title={pageTitle} description={Description} Home={true}>
	<section class="relative w-full h-max pb-[6.88rem]">
		<section class="relative grid w-full overflow-hidden gap-[1.288rem] grid-cols-1 min-[556px]:grid-cols-2 min-[1150px]:grid-cols-3">
			<!-- 文章列表 -->
			{data.map((post, index) => <ArticleCard post={post} index={index} />)}
			<!-- 分页 -->
		</section>
		<div class="absolute bottom-0 right-0">
			<Pagination data={page_data.url} />
		</div>
	</section>
</Layout>
