---
import { fmtTime } from "@/utils/index";
import { getLangFromUrl } from '@/i18n/utils';
const { articleList } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const prefix = lang === 'en' ? '/en' : '';
---

<section class="flex-1 p-8 md:p-8 max-md:p-0 max-md:bg-transparent rounded-2xl bg-white dark:bg-[#222]/60 overflow-hidden vh-animation vh-animation-init">
	<div class="flex flex-col gap-4">
		{
			articleList.map((i: any) => (
				<div class="flex flex-col">
					<p class="flex items-center w-full h-10 rounded-2xl text-base transition-colors">
						<em class="shrink-0 w-20 md:w-20 max-md:w-12 h-15 text-primary dark:text-[#e8e8e8] text-2xl md:text-2xl max-md:text-xl font-semibold leading-[3.75rem] text-right not-italic">{i.name}</em>
						<i class="relative w-10 max-md:w-7 h-full before:content-[''] before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:block before:w-[0.36rem] before:h-[0.36rem] before:border-[0.28rem] before:border-solid before:border-[#0000006D] dark:before:border-white/20 before:rounded-full before:bg-white dark:before:bg-[#333] before:transition-all before:duration-300" />
						<span class="flex-1 text-zinc-600 dark:text-zinc-400 font-medium transition-all">{i.data.length}篇文章</span>
					</p>
					{i.data.map((_: any) => (
						<a href={`${prefix}/article/${_.id.replace('en/', '')}`} class="flex items-center w-full h-10 rounded-2xl text-base transition-colors hover:bg-[#EEEFF3] dark:hover:bg-white/5 group">
							<em class="shrink-0 w-20 md:w-20 max-md:w-12 h-15 text-zinc-400 text-sm max-md:text-xs font-medium not-italic">{fmtTime(_.date, "MM-DD")}</em>
							<i class="relative w-10 max-md:w-7 h-full before:content-[''] before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:block before:w-1 before:h-1 before:rounded-sm before:bg-[#4E667F] dark:before:bg-[#4E667F] before:transition-all before:duration-300 group-hover:before:h-[50.66%] after:content-[''] after:absolute after:w-0.5 after:h-4 after:left-1/2 after:-translate-x-0.5 after:-translate-y-1/2 after:border-l-2 after:border-dashed after:border-black/10 dark:after:border-white/10 after:pointer-events-none" />
							<span class="flex-1 text-base md:text-base max-md:text-sm text-primary dark:text-[#e8e8e8] font-semibold transition-all group-hover:pl-[0.28rem] truncate">{_.title}</span>
							<cite class="ml-auto w-[7.8rem] max-lg:hidden text-sm text-zinc-600 dark:text-zinc-400 font-normal not-italic truncate">{(_.tags || []).map((tag: string) => `#${tag}`).join(" ")}</cite>
						</a>
					))}
				</div>
			))
		}
	</div>
</section>
